<html>
  <body>
    <h1>Домашняя страница</h1>
    <ul>
      <li>
        <a href="{% url 'static_pages:about' %}">О проекте</a>
      </li>
      <li>
        <a href="{% url 'deals:task_list' %}">Список задач</a>
      </li>
    </ul>
    <h2>Добавить задачу</h2>
    <!-- enctype определяет способ кодирования данных формы
    при их отправке на сервер.
    Обычно устанавливать значение атрибута enctype не требуется,
    данные вполне правильно понимаются на стороне сервера.
    Однако если используется поле для отправки файла (input type="file"),
    следует определить атрибут enctype как multipart/form-data. -->
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
    <input type="submit" value="Сохранить">
  </form>
  </body>
</html>
